{% extends "./parent.html" %}
{% block content %}

<style>
    .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
</style>

    <main class="container mt-4">
        <section id="form" class="bg-light py-5">
            <div class="container"></div>
            <p>Select Job Role Band and Value</p>
            {% if errorMessage %}
            <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            {% endif %}
            <form action="/admin/band" method="post">
                <div class=“dropdown”>
                    <button class=“dropbtn”>Select Band from the list below</button>
                    <div class=“Band-dropdown-content”>
				<A href=“”>OptA</a>
				<A href=“”>OptA</a>
				<A href=“”>OptA</a>
                </div>
                <div class=“dropdown”>
                    <button class=“dropbtn”>Select Band value from the list below</button>
                    <div class=“Band-value-dropdown-content”>
				<A href=“”>OptA</a>
				<A href=“”>OptA</a>
				<A href=“”>OptA</a>
                </div>
                <button class="btn btn-primary mt-4" type="submit">Submit new Band alongside value</button>
            </form>
        </section>
    </main>
</body>
{% endblock %}