{% extends "./parent.html" %}
{% block content %}
<title>{% block title %}Add New Job Role{% endblock %}</title>

    <main class="container mt-4">
        <section id="admin/add-job-roles" class="bg-light py-5">
            <div class="container"></div>
            <p>Enter Job Role details</p>
            {% if errorMessage %}
            <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            {% endif %}
            <form action="./add-job-roles" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" value="{{ jobRole.name }}" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" rows="15" cols="1" wrap="hard" value="{{ jobRole.description }}" class="form-control"
                        required>{{ jobRole.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="sharePointLink">SharePoint Link</label>
                    <input type="text" name="sharePointLink" value="{{ jobRole.sharePointLink }}" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="capabilityId">Select desired Capability</label>
                    <select select id="/capability" name="capabilityId" class="form-select form-select-lg mb-3 mt-2" aria-label=".form-select-lg" required>
                    {% for capability in capabilities %}
                        <option value="{{ capability.id }}">{{capability.name}}</option>
                    {% endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="band">Select desired Job Band</label>
                    <select select id="admin/bands" name="bandId" class="form-select form-select-lg mb-3 mt-2" aria-label=".form-select-lg" required>
                        {% for band in bands %}
                            <option value="{{ band.id }}">
                                {{ band.name }}
                                 <span class="level">{{ band.level }}</span>
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary mt-2" type="submit">Submit new Job Role</button>
            </form>
        </section>
    </main>
</body>
{% endblock %}