{% extends "./parent.html" %}
{% block content %}
    <main class="container mt-4">
      <section id="roles" class="mt-4">

      {% if roles and roles.length > 0 %}
            <table class="table">
              <thead>
                      <tr class="bg-dark text-light">
                        <th scope="col">JOB ROLES</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">SHOW DETAILS</th>
                      </tr>
              </thead>
              <tbody>
                {% for role in roles %}
                <tr>
                  <td><strong>{{ role.name }}</strong></td>
                  <td>{{ role.description }}</td>
                  <td><a href= "/job-roles/{{ role.id }}">Details</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>    
{% else %}
There are no job roles
{% endif %}
      </section>
    </main>
{% endblock %}
