{% extends "./parent.html" %}
{% block content %}
<title>{% block title %}Job Roles{% endblock %}</title>
    <main class="container mt-4">
      <section id="roles" class="mt-4">

      {% if jobRole and jobRole.length > 0 %}
            <table class="table">
              <thead>
                      <tr class="bg-dark text-light">
                        <th scope="col">JOB ROLES</th>
                        <th scope="col" style="text-align: center;">SHOW DETAILS</th>
                        <th scope="col" style="text-align: center;">BAND</th>
                      </tr>
              </thead>
              <tbody>
                {% for jobRole in jobRole %}
                <tr>
                  <td ><strong>{{ jobRole.name }}</strong></td>
                  <td style="text-align: center;"><a href= "/job-roles/{{ jobRole.id }}">Details</a></td>
                  <td style="text-align: center;">{{ jobRole.bandName }}</td>
                </tr>
                {% endfor %}
                </tr>
              </tbody>
            </table>    
{% else %}
There are no job roles
{% endif %}
      </section>
    </main>
{% endblock %}
