<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<style>
    .login-button {
      background: rgb(4, 119, 63);
      border: 0;
      color: white;
      padding: 10px;
      margin-left: 50px;
      border-radius: 15px;
      transition: 0.4s ease;
    }
  
    .login-button:hover {
      background: black;
      cursor: pointer;
    }

    .logout-nav {
        float: right;
        margin-top: 6px;
        margin-left: 60px;
    }
</style>


<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://www.kainos.com/"><img src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/social/Kainos_logo_1024X512-1643380451515.png" alt="" width="205" height="102" href="/"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page">Currently at: </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ window.location.href }}" id="page_title"></a>
                            <script>
                                document.getElementById("page_title").innerHTML = document.title;
                            </script>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Available actions:
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if isAdmin == "1" %}
                                <li><a class="dropdown-item" href="/admin/add-job-roles">Add new Job Role</a></li>
                                <li><a class="dropdown-item" href="/admin/band">Add new Band</a></li>
                                <li><a class="dropdown-item" href="/job-roles">View Job Roles</a></li>
                                <li><a class="dropdown-item" href="/capability">View Capability Leads</a></li>
                                {% elif isAdmin == "2" %}
                                <li><a class="dropdown-item" href="/job-roles">View Job Roles</a></li>
                                <li><a class="dropdown-item" href="/capability">View Capability Leads</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="/auth/register">Register</a></li>
                                <li><a class="dropdown-item" href="/auth/login">Login</a></li>
                                {% endif %}
                            </li>
                            </ul>
                        </li>
                        {% if isAdmin == "1" or isAdmin == "2" %}
                        <li class="nav-item active">
                            <a class="logout-nav" aria-current="page" href="/auth/logout">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content">{% block content %} {% endblock %}</div>
</body>
</html>