{% extends "./parent.html" %}
{% block content %}

<main class="container mt-4">
  <section id="admin/bands" class="mt-4">
      <h2>Job Bands List</h2>
      {% if Band and Band.length > 0 %}
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Level</th>
              </tr>
              <tbody>
          {% for Band in Band %}
                  <tr>
                      <td>{{ Band.name }}</td>
                      <td>{{ Band.level }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </thead>
      </table>
      {% else %}
          Bands list not available.
      {% endif %}
  </section>
</main>

{% endblock %}